/** @format */

.notice-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.notice-list {
    flex: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

/* .notice-list .text >h3{
    font-size: 1.5rem;
} */


.notice-info {
    text-align: right;
    color: gray;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

.read-link {
    font-size: 0.9rem;
}

.notice-content {
    margin-top:20px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding-left: 12px;
    padding-right: 12px;
}

.notice-content > p{
    font-size: 1rem;
}

.notice-content > p > a{
    font-size: 1rem;
}

.read-more-link {
    font-size: 0.7rem;
    /* line-height: 2; */
    color: teal;
    text-align: right;
    margin-right: 20px;
}

/*============== NOTICE SIDEBAR ================*/
.notice-sidebar {
    flex: 25%;
    min-height: 100vh;
margin-top: 89px; 
/* margin-right: 20px; */
    background-color: #f6fff8;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-radius: 5px;
    width: 100%;
   
}

.notice-sidebar h3 {
    display: block;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 2rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: lightseagreen;
    color: #efefef;
    overflow: hidden;
    border-radius: 5px 5px 0px 0;
    font-size: 1.2rem;
}

.recent-notice-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: teal;
    font-size: 0.9rem;
    line-height: 2rem;
    white-space: nowrap;
    list-style-position: inside;
    /* text-align: center; */
    
}

.recent-notice-item a {
    font-size: 0.8rem;
    line-height: 2;
    color: teal;
    padding-left: 12px;
    padding: 15px;
   
}

.recent-notice-item a:hover {
    text-decoration: underline;
}

/* ============PAGE NUMBER ============*/
.page-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-numbers {
    margin-top: 0.8rem;
}

.page-numbers a.active {
    cursor: pointer;
}

.number {
    font-size: 0.8rem;
    text-align: center;

    padding: 0.5em 1em 0.5em 1em;

    margin-left: 1rem;
    margin-right: 1rem;

    border: lightseagreen solid 1px;
    border-radius: 5px;
    color: teal;
    font-weight: 500;
}

.number:hover {
    background: lightseagreen;
    color: #efefef;
}

.number.active {
    pointer-events: none;
    background: lightseagreen;
    color: #efefef;
    font-weight: 500;
    border: lightseagreen solid 1px;
}

@media screen and (max-width: 992px) {
    .notice-list {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        width: 100%;
    }

    .page-numbers {
        margin-top: 0.7rem;
    }
    
       
    .number {
        font-size: 0.7rem;
        text-align: center;
    
        padding: 0.4em 0.8em 0.4em 0.8em;
    
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    
        border: lightseagreen solid 1px;
        border-radius: 5px;
        color: teal;
        font-weight: 500;
    }
} 

