/**
 * ===================TOP content========================
 
 * @format
 */
.top-bar-container {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.top-bar-container ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
}

.top-bar-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.top-bar-logo {
    width: 4rem;
    margin-right: 1rem;
}

.top-bar-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1rem;
}

.top-bar-title-container span {
    display: block;
}

.top-bar-slogan {
    color: tomato;
    font-size: 11px;
    margin-left: 2px;
    letter-spacing: 1px;
}

.top-bar-title {
    color: teal;
    font-size: 1.5rem;
    font-family: Garamond, serif;
    letter-spacing: 1px;
}

.top-bar-subtitle {
    color: grey;
    font-size: 12px;
    margin-left: 2px;
    letter-spacing: 1px;
}

/* Topbar Right */

.top-bar-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.7rem;
    color: "#0275d8";
}

.top-bar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.top-bar-btn:hover {
    color: tomato !important;
}

.top-bar-btn-icon {
    font-size: 0.75rem;
}

.top-bar-btn-text {
    font-size: 0.75rem;
}

.top-bar-btn span {
    display: block;
}

.person-circle-icon {
    font-size: 1.2rem;
}

.top-bar-avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    /* border-left: 1px solid lightgrey; */
    padding-left: 6px;
}

#top-bar-user-displayname {
    font-size: 0.75rem;
    color: teal;
}

.top-bar-lang-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 0.5rem;
    margin-right: 1rem;
    margin-left: 6px;
    padding-left: 12px;
    border-left: 1px solid lightgray;
    color: #0275d8;
}

.top-bar-lang-icon {
    font-size: 1rem;
}

.top-bar-none-lang-icon {
    display: none;
}

.top-bar-lang-container select {
    background-color: white;
    border: 1px solid rgb(187, 186, 186);
    text-align: center;
    padding: 5px 10px;
    /* width: 110px; */
    color: #0275d8;
    font-size: 0.8rem;
}
.top-bar-lang-container span {
    display: block;
}

.top-bar-lang-container .lang-item {
    color: #0275d8;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .top-bar-container {
        width: 100%;
        padding: 1rem 0;
    }

    .top-bar-title-container {
        display: none;
    }

 
    .top-bar-logo {
        width: 4rem;
        /* height: 100px; */
        /* margin-right: 1rem; */
        margin: auto;
    }

    .top-bar-right {
        display: flex;

        align-items: center;
        justify-content: flex-start;
        gap: 3px;
    }
    .top-bar-btn-icon i {
        font-size: 0.8rem;
    }

    .top-bar-btn-text {
        font-size: 0.8rem;
    }

    .person-circle-icon i {
        font-size: 1.2rem;
    }

    #top-bar-user-displayname {
        display: none;
    }

    .top-bar-lang-icon {
        display: none;
    }

    .top-bar-lang-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        gap: 0.5rem;
        margin-right: 1rem;
        margin-left: 6px;
        padding-left: 12px;
        border-left: 1px solid lightgray;
        color: #0275d8;
    }
    .top-bar-lang-container span {
        display: none;
    }

    .top-bar-lang-container select {
        padding: 5px 10px;
        width: 90px;
        color: #0275d8;
        font-size: 0.8rem;
    }
}
