/** @format */

.view-referee-info-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding-left: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .view-referee-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: auto;
        padding-left: 6px;
        margin-bottom: 40px;
    }
}


