/** @format */

.notice-list-container {
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
}

.notice-list-left {
    flex: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .notice-list-right{

    flex: 25%; 
 
    width: 480px;


} */
.notice-list-sidebar {
    flex: 25%; 
    min-height: 100vh;
    margin-top: 52px;
    padding: 0 12px;
    background-color: #f6fff8;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-radius: 5px;
    width: 100%;
    margin-left: 12px;
   
  
}

.notice-list-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.notice-list-container h2 {
    margin-left: 25px;
    margin-bottom: 20px;
}

.notice-list-filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.notice-list-filter-bar > span {
    font-size: 0.8rem;
}

.notice-list-select-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    margin-left: 30px;
}

.notice-list-select-container > span {
    font-size: 0.8rem;
}



.search-bar {
    width: 450px;
    height: 29px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 13px;
    margin-left: 15px;
    font-size: 0.8rem;
}

.search-bar::placeholder {
    color: lightgray;
}

.search-bar:focus {
    border-color: lightgray;
}

.search-icon {
    position: relative;
    left: -46px;

    /* z-index:1; */
}

.notice-list-layout-icon {
    display: flex;
    margin-left: 30px;
    color: grey;
    gap: 3px;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

/* Referee List Car Layout */

.notice-list-card-container {
    display: flex;
   
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    gap:5px;
    padding: 3px 3px;
    margin-top: 10px;
    margin-left: 20px;
    

}

.notice-list-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    border: 1px solid lightgray;
    padding: 16px 16px;
    border-radius: 5px;
    gap: 6px;
    margin-right: 3px;
    
}

.notice-card-content{
    margin-top: 12px;
}


.notice-list-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.notice-title {
    /* font-size: 1.3rem; */
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.notice-date-author {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 3px;
    padding-bottom: 3px;

    /* display: inline; */
}
.notice-date-author {
    font-size: 0.8rem;
    color: teal;

    padding-bottom: 3px;

    /* display: inline; */
}

.notice-list-info .notice-card-content p {
    font-size: 0.9rem;
    margin-top: 0;
}

.notice-list-info .status-bar {
    border: none;
    /* padding: 10px 20px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 6px 6px;
    width: 80px;
    border-radius: 8px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.status-published {
    background-color: rgb(206, 242, 242);
    font-weight: 600;
    color: teal;
    width: 80px;
}

.status-draft {
    background-color: rgb(242, 229, 196);
    font-weight: 600;
    color: rgb(150, 109, 5);
    width: 80px;
}

.status-pending {
    background-color: rgb(201, 223, 245);
    font-weight: 600;
    color: dodgerblue;
    width: 80px;
}

.notice-list-icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 6px;
    cursor: pointer;
    /* width: 100%; */
}



.form-modal {
    width: 95%;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

    /* margin-bottom: 1vw;
    margin-right: 1vw; */
}
@media screen and (max-width: 992px) {
    .notice-list-card{
       width: 100%;
    }

    
    .notice-sidebar {
        
      display: none;
       
    }
}
