/** @format */

/* ===================NAVBAR============ */
.wwsc-navbar {
    box-shadow: 0 0.3vw 0.3vw 0 rgba(150, 150, 150, 0.2);
    width: 100%;
    /* background-color: var(--primary); */
    background-image: linear-gradient(to left, #00521f, var(--primary));
    height: 50px;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-shrink: 1;
    margin-right: 1rem;
    /* padding-left: 150px; */
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    gap: 0.5rem;
}

.top-nav-item {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 0.85rem;
    white-space: nowrap;
    padding: 0.5rem 1rem;
}

.top-nav-item:hover {
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.top-nav-item a.nav-link.active {
    /* border-bottom: 3px solid tomato; */
    text-decoration: none;
    cursor: none;
    transition: 500ms ease;
    /* color: var(--white); */
    color: orange;
    background-color: none;
    font-weight: bold;
}

ul.dropdown-menu.show {
    border: 1px solid rgba(255, 255, 255, 0.517);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--primary);

    position: absolute;
}

.navbar-icon {
    margin-right: 6px;
    /* font-size: 13px; */
}

.dropdown-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.517);
    color: var(--white);
    font-size: 0.78rem;
    white-space: nowrap;
    padding: 8px 12px;
}

.dropdown-item:hover {
    /* text-decoration: underline; */
    background-color: lightseagreen;
    color: var(--white);
}

.dropdown-item.active {
    background-color: var(--primary);
    /* border-bottom: 3px solid tomato; */
    text-decoration: none;
    font-weight: bold;
    cursor: none;
    color: orange;
}

.menu-icon,
.close-icon {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    display: none;
    margin-right: 10px;
    padding-right: 10px;
    /* text-align: right; */
    /* border-left: 1px solid rgba(255, 255, 255, 0.517); */
}

@media screen and (max-width: 992px) {
    .wwsc-navbar-sm {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: center;
        height: fit-content;
        /* padding-top: 5px; */
        padding-bottom: 5px;
        width: 100%;
        position: relative;
        position: sticky;
        z-index: 999;
        top: 0;
        background-image: linear-gradient(to left, #00521f, var(--primary));
    }


    .navbar-sm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        top: 50px;
        opacity: 0.95;
        background-image: linear-gradient(to left, #00521f, var(--primary));
        transition: all 0.5s ease;
        z-index: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.517);
    }

    /* .navbar-sm .open {
        display: flex;
        width: 100%;
        top: 50px;
        opacity: 0.95;
        background-color: var(--primary);
        transition: all 0.5s ease;
        z-index: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.517);
    } */
    .navbar-container-sm {
        flex: 100%;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
     
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        gap: 0;
    }
    .top-nav-item {
        width: 100%;
        border-bottom: 1px solid lightseagreen;
        padding-bottom: 5px;
        /* padding-left: 12px;
        padding-right: 12px; */
        /* margin: 0 auto; */
    }

    .top-nav-item a.nav-link {
        /* border-bottom: 1px solid lightseagreen; */
        width: 100%;
        /* display: flex; */
        text-align: center;
    }

    .dropdown-item {
        padding: 5px 10px;
    }

    .top-bar-title {
        visibility: visible;
    }

    .menu-close-icon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-icon,
    .close-icon {
        display: block;
        transition: all 3s ease-in-out;
        border-left: 0;
    }
}
