/** @format */

.text-drop {
    /* border: rgb(200, 200, 200) solid; */
    border-radius: 0.5vw;

    /* margin-bottom: 8px; */
}

.text-drop button {
    font-size: 0.8rem;
    /* font-weight: bold; */
    padding: 12px;
    color: tomato;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-drop p {
    padding-left: 2vw;
    padding-right: 1.5vw;
   font-size: 0.8rem;
    text-indent: 0;

}

.text-drop p img {
    width: 30%;
   
}
