/** @format */

.footer {
    /* margin-top: 2rem; */
    width: 100%;
    height: 100%;
    padding-top: 50px;
    /* background-color: teal; */
    background-image: linear-gradient(to left, #00521f, teal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.social-icon__item {
    list-style: none;
}

.social-icon__link {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.footer .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    /* margin-top: 1vw; */
}

.footer-link {
    padding: 5px;
}

.footer-link a {
    color: white;
    padding: 5px 5px;
    font-size: 0.9rem;
}

.footer-link a:hover {
    text-decoration: "underline";
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 5px 15px;
}

.footer p {
    color: white;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1px;
}

.copyright {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #073b3a; */
}

.copyright-text {
    text-align: center;
    font-size: 0.8rem;
    /* line-height: 2vw; */
    color: rgba(255, 255, 255, 0.639);
    /* margin-right: 0.5vw; */
}

@media screen and (max-width: 960px) {
    .footer .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-link {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
