/** @format */

.avatar-background {
    /* display: inline-block; */
    width: 280px;
    height: 320px;

    /* background-color: rgb(14, 222, 245); */
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    /* background-image: url("G3-Card.jpg"); */
    background-size: cover;
    width: 300px;
    height: 460px;
    border-radius: 10px;
    position: relative;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}


.avatar img {
    position: absolute;
    margin: auto;
    top: 140px;
    width: 150px;
    height: 180px;
    /* background-color: rgb(14, 222, 245); */
    /* border: rgba(238, 236, 236, 0.539) solid; */
    border-radius: 2px;
    object-fit: cover;
}
