/** @format */

.org-list-public-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}



.org-list-table-public-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
   
}

.org-list-top-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    width: 100%;
}
